@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700;900&display=swap");
html {
  scroll-snap-type: y mandatory;
}

body {
  margin: 0px;
  font-family: "Lato", sans-serif;
}

.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

* {
  box-sizing: border-box;
}

.keen-slider__slide img{
  border-radius: 30px;
}

.shadow {
  -webkit-box-shadow: 69px 3px 300px -10px rgba(39,40,67,0.56);
  -moz-box-shadow: 69px 3px 300px -10px rgba(39,40,67,0.56);
  box-shadow: 69px 3px 300px -10px rgba(39,40,67,0.56);
}

